.private-messages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  padding: 20px;
  background-color: #1a1d21;
  color: #fff;
}

.img-chat{
  width: 100px;
  border-radius: 8px;
}

.pm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pm-close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.pm-message-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.pm-message {
  padding: 5px 0; 
  font-size: 0.9rem;
}

.pm-message-header {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 1rem; 
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(200, 200, 200, 0.2); 
  padding-bottom: 5px; 
  margin-bottom: 5px; 
}

.pm-message-header img.sender-image {
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  object-fit: cover;
}

.pm-message-header .sender-name {
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem; 
}

.pm-message-header .message-time {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5); 
}

.pm-message-text {
  font-size: 1rem;
  color: #fff;
  word-wrap: break-word;
  margin-left: 30px; 
}

.pm-new-message-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pm-new-message-form textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #6d4e72;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #fff;
  resize: none;
}

.pm-new-message-form button {
  padding: 10px;
  background-color: #6d4e72;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pm-new-message-form button:hover {
  background-color: #9a78b4;
}
